<div id="chartContainer">
  <script src="/lib/d3.v3.min.js"></script>
  <script src="/dist/dimple.{version}.js"></script>
  <script type="text/javascript">
    var svg = dimple.newSvg("#chartContainer", 590, 400);
    d3.tsv("/data/example_data.tsv", function (data) {
      var myChart = new dimple.chart(svg, data);
      myChart.setBounds(60, 30, 505, 200);
      myChart.assignColor("Empty", "transparent", "Black");
      var x1 = myChart.addCategoryAxis("x", ["Owner", "All"]);
      var x2 = myChart.addCategoryAxis(x1, ["Price Tier", "Brand"]);
      var y1 = myChart.addMeasureAxis("y", "Unit Sales");
      var y2 = myChart.addMeasureAxis(y1, "Operating Profit");
      var s1 = myChart.addSeries("Channel", dimple.plot.area, [x1, y1]);
      var s2 = myChart.addSeries(["Price Tier", "Channel"], dimple.plot.area, [x2, y2]);
      x1.title = null;
      myChart.draw();
    });
  </script>
</div>